.card {
  width: 100%;
  border: 2px solid white;
  border-radius: 16px;
  box-shadow: 0 2px 4px #A1F1BB;
}

.card:hover {
  box-shadow: 0 8px 16px #00D646;
  transform: translateY(-2px);
}

.card-content {
  padding: 1rem 8px;
  overflow-x: auto;
}
