#filter-box-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(auto, 166px));
    width: 100%;
}

#filter-box {
    padding: 10px;
    border-width: 1px;
    border-color: #00D646;
    border-style: solid;
}

.chevron {
    gap: 8px;
}
