.App {
  text-align: center;
}

.header {
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
  display: flex;
  gap: 1rem;
  flex-direction: row;
  background-color: #324158;
  align-items: center;
  justify-content: space-between;
}

#header-name {
  white-space: nowrap;
}

.header-links-row {
  display: flex;
  gap: 30px;
}

.header-links {
  text-decoration: none;
  color: #BEC7D5;
}

.column {
  display: flex;
  flex-direction: column;
}

.subheading {
  color: #00D646;
}


.card {
  border: 2px solid white;
  border-radius: 16px;
  box-shadow: 0 2px 4px #A1F1BB;
}
.card:hover {
  box-shadow: 0 8px 16px #00D646;
  transform: translateY(-2px);
}

.card-content {
  padding: 8px;
}

.page-layout {
  justify-content: center;
  padding: 0 10rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

ul.surround {
  border-left: 4px solid #00D646;
  border-right: 4px solid #00D646;
  border-radius: 10px;
  padding: 0.5rem 0 0.5rem 0.5rem;
  margin: 1rem 1rem 1rem 0.5rem;
  list-style: none;
}

ul.surround:hover {
  border-right: none;
  transform: translate(2px, -2px);
  box-shadow: 0 8px 16px gray;
}

.centre-page-content {
  display: flex;
  justify-content: center;
}

.small-margin {
  margin: 2px;
}

#page-name {
  font-size: 64px;
}

#uni-title {
  color: #00D646;
}

#portrait {
  border-radius: 100px;
}

.location-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#social-media-div {
  gap: 50px;
}

.social-media-icons {
  font-size: 400%;
  text-decoration: none;
  color: #BEC7D5;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
