.App {
  text-align: center;
}

.header {
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
  display: flex;
  gap: 1rem;
  flex-direction: row;
  background-color: #324158;
  align-items: center;
  justify-content: space-between;
}

#header-name {
  white-space: nowrap;
}

.header-links-row {
  display: flex;
  /* justify-content: right; */
  gap: 30px;
}

.header-links {
  text-decoration: none;
  color: #BEC7D5;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
