#uni-title {
  color: #00D646;
}

#learn-more-cs-div {
  padding-top: 1rem;
}

#uni-focuses-programs {
  display: flex;
  justify-content: space-between;
  column-gap: clamp(1rem, 2rem, 3rem);
}

#uni-focuses-programs *:hover {
  color: #A1F1BB;
  cursor: pointer;
}

ul.surround {
  border-left: 4px solid #00D646;
  border-right: 4px solid #00D646;
  border-radius: 10px;
  padding: 0.5rem;
  margin: 1rem 1rem 1rem 0.5rem;
  list-style: none;
}

.button {
  display: inline-flex;
  padding: 8px 18px;
  align-items: flex-start;
  border-radius: 4px;
  border: 2px solid #00D646;
  background: #1b1f27;
  text-align: center;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #00D646;
}

.button:hover {
  background: #00D646;
  color: #FFF;
  border: 2px solid #FFF;
}
